.fixed-header {
  background-color: var(--street-base-color-one-shade-darker);
}

nav#menu::before {
  background-color: var(--street-base-color);
}

.first-section-title{
  color: var(--street-base-color);
}

.section.colored-bkgd {
  background-color: var(--street-base-color);
}

.section-content-under-title-middle {
  border: 1px solid red;
  position: absolute;
  left: 2vw;
  width: 96vw;
  height: 75vh;
  top: 15vh;
}

.section-content-under-title-middle img{
  height: inherit;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.section-header-title.colored-title {
  color: var(--street-base-color);
}

.vision-text {
  margin-top: -20vh;
  color: var(--font-color-white);
  font-weight: bold;
}

.card-header.strategy {
  color: var(--street-base-color);
}

.card-header.threats a {
  color: var(--street-base-color);
}

#condition-grid img {
  position: absolute;
  top: 25vh;
  left: 20vw;
}

#condition-coverage img {
  height: inherit;
}

#condition-coverage {
  display: none;
}

.stree-slider {
  position: absolute;
  top: 15vh;
  left: 2vw;
  height: 73%;
  width: 96vw;
}

.modal-header.strategy h1{
  color: var(--street-base-color);
}

.strategy-modal-close {
  color: var(--street-base-color);
}
