.fixed-header {
  background-color: var(--mobility-base-color);
}

nav#menu::before {
  background-color: var(--mobility-base-color);
}

.first-section-title{
  color: var(--mobility-base-color);
}

.section.colored-bkgd {
  background-color: var(--mobility-base-color);
}

.section-header-title.colored-title {
  color: var(--mobility-base-color);
}

.vision-text {
  margin-top: -20vh;
  color: var(--font-color-white);
  font-weight: bold;
}

.card-header.strategy {
  color: var(--mobility-base-color);
}

.card-header.threats a {
  color: var(--mobility-base-color);
}

#condition-transit,
#condition-funding {
  display: none;
}

.right-content-whole-height-holder img{
  width: inherit;
}

.strategy-modal-left.mobility-5 img {
  width: 100%;
  height: inherit;
}

.modal-header.strategy {
  color: var(--mobility-base-color);
}

.strategy-modal-close {
  color: var(--mobility-base-color);
}

.mobility-modal-body-full {
  position: absolute;
  height: 95%;
  width: 98%;
}

.mobility-modal-body-full img{
  margin:auto;
  display: block;
  height: 100%;
  width: auto;
}

.vision-text {
  margin-bottom: 0;
}

.strategy-modal-right-content-all {
  padding-left: 20px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.info {
    padding: 10px 10px;
    font: 28px/30px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
