.cbp-af-header {
  background-color: var(--climate-base-color-one-shade-darker);
}

.philly-title {
  color: var(--font-color-white);
}

.cbp-af-header nav a {
  color: var(--font-color-white);
}

.first-section-title {
  color: var(--climate-base-color);
}

.main section:nth-child(even) {
  background-color: var(--climate-base-color);
}
