.fixed-header {
  background-color: var(--other-base-color);
}

nav#menu::before {
  background-color: var(--other-base-color);
}

.first-section-title{
  color: var(--other-base-color);
}

.section.colored-bkgd {
  background-color: var(--other-base-color);
}

.section-header-title.colored-title {
  color: var(--other-base-color);
}

.vision-text {
  margin-top: -20vh;
  color: var(--font-color-white);
  font-weight: bold;
}

.card-header.strategy {
  color: var(--other-base-color);
}

.card-header.threats a {
  color: var(--other-base-color);
}

#trend-poverty,
#trend-infras,
#trend-vacancy {
	display: none;
}

#trend-race img,
#trend-poverty img,
#trend-infras img {
	width: inherit;
}

#trend-vacancy img {
	margin-top: 15vh;
	width: inherit;
}

.intro-content-left-big {
  position: absolute;
  top: 15vh;
  left: 2vw;
  width: 65vw;
  height: 75vh;
}

#philly-today img {
  width: inherit;
}

#philly-growth img{
  width: inherit;
}

#philly-2060 img {
  height: inherit;
}

.intro-content-right-small {
  position: absolute;
  top: 15vh;
  right: 2vw;
  width: 30vw;
  height: 75vh;
}

.intro-content-right-small p,
.intro-content-right-small.colored p  {
  position: absolute;
  font-size: 2em;
  line-height: 2em;
  color: white;
  bottom: 0;
}

.intro-content-right-small.colored p{
  color: var(--other-base-color);
}

.intro-video-combo {
  position: absolute;
  height: 92vh;
  width: 100%;
  top: 0;
  left: 0;
}

.intro-vid {
  display: inline-block;
  position: absolute;
  right: 80%;
  top:0;
  width: 20%;
  height: 100%;
  border: 5px solid var(--other-base-color);
}

.vid-holder-2 {
  right: 60%;
}

.vid-holder-3 {
  right: 40%;
}

.vid-holder-4 {
  right: 20%;
}

.vid-holder-5 {
  right: 0%;
}

video {
  height: inherit;
}


/*.vid-holder-2 video {
  margin-left: -700px;
}*/
