@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: var(--font-color-black);
    background-color: var(--font-color-white);
}

a {
	text-decoration: none;
}

/*TODO: change em to vh vw units*/
/*----------------------

          HEADER

----------------------*/
.container-fix{
  position: relative;
  margin-top: 8vh;
}

.fixed-header {
  height: 8vh;
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 100%;
}

.fixed-header-inner {
  width: 90%;
	max-width: 90vw;
	margin: 0 auto;
}

.fixed-header h1 {
	display: inline-block;
	position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
	font-size: 2em;
	margin: 0;
	float: left;
  line-height: 90px;
}

.philly-title {
	color: var(--font-color-white);
}

.philly-title:hover {
  color: var(--font-color-black);
  text-decoration: none;
}

.fixed-header nav {
	display: inline-block;
	position: relative;
  float: right;
  color: var(--font-color-white);
}

.fixed-header nav a {
  color: #f0f0f0;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
  line-height: 90px;
}

.fixed-header nav a:hover {
  color: #000;
}

/* Effect Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*----------------------

        SECTIONS

----------------------*/

.section-custom-height{
  height: 92vh;
}

.section-custom-height video{
  height: 92vh;
}

.first-section-rightside{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30vw;
  height: 92vh;
  z-index: 1000;
  background-color: white;
}

.first-section-title {
  position: absolute;
  top: 15vh;
  right: 15vw;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 10px;
  padding-left: 30px;
  text-transform: uppercase;
  color: var(--other-base-color);
  font-size: var(--font-size-section-title);
  background-color: var(--font-color-white);
}

.first-section-title span{
  font-size: 2em;
}

.section-header {
  position: absolute;
  top: var(--section-header-top);
  left: var(--section-header-left);
}

.section-header-title{
  font-size: var(--font-size-section-title);
  font-weight: bold;
  color: var(--font-color-white);
}

.left-content-under-title {
  position: absolute;
  left: var(--section-content-left);
  width: 25vw;
}

.threats-content-left {
  top: 15vh;
  height: 78vh;
}

.right-content-whole-height {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 72vw;
  height: 92vh;
  line-height: 92vh;
  border: 1px solid blue;
}

.right-content-whole-height-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--font-color-white);
  border: 2px solid green;
  line-height: inherit;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-bottom: 0px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #39a1f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39a1f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.vision-text {
  text-align: center;
  font-size: 5em;
  vertical-align: middle;
  margin-bottom: 8vh;
  border: 1px solid red;
}

.typology-content{
  position: absolute;
  left: var(--section-content-left);
  width: 95vw;
  height: 30vh;
}

.typology-content.first-line{
  top: 20vh;
}

.typology-content.second-line{
  top: 55vh;
}

.card.typology.five-ele,
.card.typology.four-ele {
  width: 18vw;
  display: inline-block;
}

.card.typology.four-ele {
  margin-left: 10vw;
  margin-right: 5vw;
}

.card.typology.four-ele.line-first{
  margin-left: 20vw;
}

.card.typology.five-ele.first-line-first {
  margin-left: 10vw;
}

.card.typology.five-ele.first-line-middle {
  margin-left: 8vw;
  margin-right: 8vw;
}

.card.typology.five-ele.second-line-first {
  margin-left: 22vw;
  margin-right: 8vw;
}

.card-body.typology {
  background-color: var(--other-base-color);
  color: var(--font-color-white);
  height: 25%;
}

.card-body.typology h4{
  font-weight: bold;
}

.strategy-content {
  position: absolute;
  left: var(--section-content-left);
  width: 95vw;
  height: 30vh;
}

.strategy-content.first-line{
  top: 20vh;
}

.card.strategy {
  width: 18%;
  height: 100%;
  display: inline-block;
  margin-right: 2%;
  cursor: pointer;
  float: left;
}

.card-header.strategy {
  color: var(--font-color-black);
  font-size: 1.5em;
  font-weight: bold;
  height: 15%;
}

.card-body.strategy {
  height: 80%;
  background-color: var(--other-base-color);
}

.card-title-hidden-holder{
  color: var(--other-base-color);
}

.card-title.strategy {
  font-weight: bold;
  font-size: 2.5em;
}

.strategy-content.second-line {
  top: 55vh;
}

.modal-dialog.modal-lg.modal-strategies {
  margin-top: 9vh;
  margin-left: var(--section-content-left);
  margin-right: 2vw;
  max-width: 98vw;
}

.modal-content.modal-content-strategies {
  height: 90vh;
}

.strategy-modal-close {
  position: absolute;
  right: 1%;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}

.modal-header.strategy h1 {
  font-weight: bold;
}

.strategy-modal-left{
  display: inline-block;
  position: absolute;
  width: 65%;
  height: 95%;
}

.strategy-modal-left img {
  height: inherit;
  width: auto;
}

.strategy-modal-right{
  display: inline-block;
  position: absolute;
  width: 30%;
  height: 95%;
  right: 2%;
  background-color: var(--font-color-white);
}

.strategy-modal-right h3 {
  font-weight: bold;
}

.strategy-modal-right-content {
  margin-top: 10%;
  font-size: 1.5em;
}

.strategy-modal-right-content-all {
  font-size: 2em;
}

.slide-content {
  margin-left: 2vw;
  margin-right: 2vw;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.slide-content img{
  height: 75vh;
}

.slide-image {
  width: 90%;
  height: 90%;
  margin-left: 3vw;
  margin-top: var(--section-conent-top);
}

.slide-image img {
  height: inherit;
}

.slide-image-locator {
  width: 15%;
  height: 30vh;
  float: right;
  margin-right: 20px;
  margin-top: 40vh;
}

.fp-controlArrow.fp-next {
  border-left-color: var(--other-base-color-two-shades-darker);
}

.fp-controlArrow.fp-prev {
  border-right-color: var(--other-base-color-two-shades-darker);
}

.placeholder-box {
  border: 1px solid black;
}

.section-content-under-title-middle {
  position: absolute;
  left: 2vw;
  width: 96vw;
  height: 75vh;
  top: 15vh;
}

.section-content-under-title-middle img{
  height: inherit;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.section-content-under-title-middle-inner {
  width: 90%;
  margin: 0 auto;
  height: inherit;
}

.section-content-under-title-middle-inner.first-half {
  height: 48%;
  margin-bottom: 1%;
}

.section-content-under-title-middle-inner.second-half {
  height: 48%;
}

.section-content-under-title-middle-inner.first-half.strategy,
.section-content-under-title-middle-inner.second-half.strategy {
  width: 100%;
}

.card.typo {
  height: 100%;
}

.card.typo.five-ele {
  width: 25%;
  display: inline-block;
  float: left;
}

.card.typo.five-ele.middle {
  margin-left: 12.5%;
  margin-right: 12.5%;
}


.card.typo.five-ele img {
  height: 75%;
}

.card.typo.five-ele.first {
  margin-left: 16.8%;
  margin-right: 16.8%;
}

.card.typology.five-ele img {
  margin-left: auto;
	margin-right: auto;
	display: block;
  width: inherit;
}

.conclusion-full-extent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 92vh;
}

.conclusion-full-extent img {
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ps-condi-only-text{
  position: absolute;
  bottom: 5vh;;
  font-size: 2em;
}

.slide-full-extent {
  margin-top: 0;
  margin-bottom: 8vh;
  height: 92vh;
  line-height: 92vh;
}

.slide-full-extent.side-by-side {
  width: inherit;
  border: 1px solid red;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.slide-full-extent img {
  width: 100%;
  vertical-align: middle;
}
