@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: var(--font-color-black);
}

a {
	text-decoration: none;
}

/*TODO: change em to vh vw units*/
/*----------------------

          HEADER

----------------------*/
.container-fix{
  position: relative;
  margin-top: 8vh;
}

.fixed-header {
  height: 8vh;
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  width: 100%;
}

.fixed-header-inner {
  width: 90%;
	max-width: 90vw;
	margin: 0 auto;
}

.fixed-header h1 {
	display: inline-block;
	position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
	font-size: 2em;
	margin: 0;
	float: left;
  line-height: 90px;
}

.philly-title {
	color: var(--font-color-white);
}

.philly-title:hover {
  color: var(--font-color-black);
  text-decoration: none;
}

.fixed-header nav {
	display: inline-block;
	position: relative;
  float: right;
  color: var(--font-color-white);
}

.fixed-header nav a {
  color: #f0f0f0;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
  line-height: 90px;
}

.fixed-header nav a:hover {
  color: #000;
}

/* Effect Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*----------------------

        SECTIONS

----------------------*/

.section{
  /*border: 3px solid red;*/
}

.section-custom-height{
  height: 92vh;
}

.section-custom-height video{
  height: 92vh;
}

.first-section-rightside{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30vw;
  height: 92vh;
  z-index: 1000;
  background-color: white;
}

.first-section-title {
  position: absolute;
  top: 15vh;
  right: 15vw;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 10px;
  padding-left: 30px;
  text-transform: uppercase;
  color: var(--intro-base-color);
  font-size: var(--font-size-section-title);
  background-color: var(--font-color-white);
}

.first-section-title span{
  font-size: 2em;
}

.section-header {
  position: absolute;
  top: var(--section-header-top);
  left: var(--section-header-left);
}

.section-header-title{
  font-size: var(--font-size-section-title);
  font-weight: bold;
  color: var(--font-color-white);
}

.left-content-under-title {
  position: absolute;
  left: var(--section-content-left);
  width: 25vw;
}

.threats-content-left {
  top: 15vh;
  height: 78vh;
}



.right-content-whole-height {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 72vw;
  height: 93vh;
}

.right-content-whole-height-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #39a1f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39a1f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.vision-text {
  text-align: center;
  font-size: 5em;
}

.typology-content.five-types {
  position: absolute;
  left: var(--section-content-left);
  width: 95vw;
  height: 30vh;
}

.typology-content.five-types.first-line{
  top: 20vh;
}

.typology-content.five-types.second-line{
  top: 55vh;
}

.card.typology{
  width: 20vw;
  display: inline-block;
}

.card.typology.first-line-first {
  margin-left: 8vw;
}

.card.typology.first-line-middle {
  margin-left: 8vw;
  margin-right: 8vw;
}

.card.typology.second-line-first {
  margin-left: 22vw;
  margin-right: 8vw;
}

.card-body.typology {
  background-color: var(--other-base-color);
  color: var(--font-color-white);
}

.card-body.typology h4{
  font-weight: bold;
}

.strategy-content {
  position: absolute;
  left: var(--section-content-left);
  width: 95vw;
  height: 30vh;
}

.strategy-content.first-line{
  top: 20vh;
}

.card.strategy {
  width: 16vw;
  height: 28vh;
  display: inline-block;
  margin-right: 2vw;
  cursor: pointer;
}

.card-body.strategy {
  height: 18vh;
  padding-top: 3vh;
  background-color: var(--other-base-color);
}

.card-header.strategy {
  color: var(--font-color-black);
  font-size: 2em;
  font-weight: bold;
}

.card-title-hidden-holder{
  color: var(--other-base-color);
}

h4.card-title.strategy {
  font-weight: bold;
}

.strategy-content.second-line {
  top: 55vh;
}

.modal-dialog.modal-lg.modal-strategies {
  margin-top: 9vh;
  margin-left: var(--section-content-left);
  margin-right: 3vw;
  max-width: 96vw;
}

.modal-content.modal-content-strategies {
  height: 90vh;
}

.strategy-modal-close {
  position: absolute;
  right: 1%;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}

.modal-header.strategy h2 {
  font-weight: bold;
}

.strategy-modal-left{
  display: inline-block;
  position: absolute;
  width: 65%;
  height: 95%;
  border: 1px solid black;
}

.strategy-modal-right{
  display: inline-block;
  position: absolute;
  width: 30%;
  height: 95%;
  right: 2%;
}

.strategy-modal-right h3 {
  font-weight: bold;
}

.strategy-modal-right-content {
  margin-top: 10%;
  font-size: 1.5em;
}

.slide-content {
  width: 100%;
  height: 90vh;
  padding-top: 10vh;
}

.slide-image {
  border: 2px solid black;
  width: 100%;
  height: 77vh;
}

.slide-image-locator {
  position: relative;
  float: right;
  top: 0;
  width: 15%;
  height: 30vh;
  margin-top: -30vh;
  z-index: 1020;
}

.fp-controlArrow.fp-next {
  border-left-color: var(--other-base-color-two-shades-darker);
}

.fp-controlArrow.fp-prev {
  border-right-color: var(--other-base-color-two-shades-darker);
}
