.fixed-header {
  background-color: var(--public-space-base-color);
}

nav#menu::before {
  background-color: var(--public-space-base-color);
}

.first-section-title{
  color: var(--public-space-base-color);
  letter-spacing: 0px;
  right: 20vw;
}

.section.colored-bkgd {
  background-color: var(--public-space-base-color);
}

.section-header-title.colored-title {
  color: var(--public-space-base-color);
}

.vision-text {
  margin-top: -20vh;
  color: var(--font-color-white);
  font-weight: bold;
}

.card-header.strategy {
  color: var(--public-space-base-color);
}

.card-header.threats a {
  color: var(--public-space-base-color);
}

.modal-header.strategy h1 {
  color: var(--public-space-base-color);
}

#trend-mutliuse,
#trend-engagement,
#trend-reclaim {
  display: none;
}

.right-content-whole-height-holder {
  line-height: 100%;
}

#trend-equity img,
#trend-mutliuse img,
#trend-engagement img,
#trend-reclaim img{
  height: inherit;
  vertical-align: middle;
}

.text-highlighter {
  color: var(--public-space-base-color);
}

.section-content-under-title-middle.focus-area img{
  height: inherit;
  margin-left: 0;
}

#condition-public-space img{
  width: inherit;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.vision-text{
  margin-bottom: 0;
}

.strategy-modal-right {
  padding-left: 20px;
}

.strategy-modal-left img {
  height: inherit;
  width: auto;
}
